:root {
    /* Dark Theme Variables */
    --headerbar-bg-color: #303030;
    --headerbar-fg-color: #ffffff;
    --headerbar-border-color: #ffffff;
    --headerbar-backdrop-color: #242424;
    --headerbar-backdrop-hover-color: #3f3f3f;
    --headerbar-backdrop-pressed-color: #757575;
    --headerbar-shade-color: rgba(0, 0, 0, 0.36);
    --headerbar-darker-shade-color: rgba(0, 0, 0, 0.9);
    --icon-size: 16px 16px;
    --icon-pos: 4px 4px;
    --close-icon: url(https://raw.githubusercontent.com/nannoda/gnome-discord-titlebar/main/assets/window-close-symbolic.svg);
    --min-icon: url(https://raw.githubusercontent.com/nannoda/gnome-discord-titlebar/main/assets/window-minimize-symbolic.svg);
    --max-icon: url(https://raw.githubusercontent.com/nannoda/gnome-discord-titlebar/main/assets/window-maximize-symbolic.svg);
}

/* Title bar */
.platform-win .typeWindows_a934d8 {
    z-index: 102;
    /* position: absolute; */
    /* flex-direction: row; */
    align-items: center;
    /* top: 1px; */
    width: 100%;
    margin: 0;
    height: 36px;
    /* padding-top: 24px !important; */
    /* padding-right: 9px; */
    /* padding-left: 3px; */
    -webkit-app-region: drag;
    background-color: var(--background-primary);
    /* background: transparent !important; */
}

/* .platform-win .typeWindows_a934d8 .wordmark_a934d8 {
    top: 11px;
    left: 11px;
    width: 52px;
    height: px;
    padding: 0;
    -webkit-app-region: no-drag;
  } */

/* Discord Icon */
.platform-win .typeWindows_a934d8 .wordmark_a934d8 g {
    display: none;
}

/* Button Size */
.platform-win .typeWindows_a934d8 .winButton_a934d8 {
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-right: 12px;
    border-radius: 16px;
    /* background-color: navajowhite; */
    opacity: 0.5;
    /* background-size: 0; */
    -webkit-app-region: no-drag;
    transition: background-color 0.3s, opacity 0s;
}

.platform-win.app-focused .typeWindows_a934d8 .winButton_a934d8 {
    opacity: 1;
}


/* Windows buttons */
.platform-win .typeWindows_a934d8 .winButton_a934d8 svg {
    display: none;
}


.platform-win.app-focused .typeWindows_a934d8:hover div.winButton_a934d8 {
    /* background-position: center; */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */

    /* background-color: var(--headerbar-backdrop-hover-color); */
}



/* Close Button */
.platform-win .typeWindows_a934d8 .winButtonClose_a934d8 {
    background-image: var(--close-icon);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: var(--icon-pos);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8 {
    background-color: var(--headerbar-bg-color);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8:hover {
    background-color: var(--headerbar-backdrop-hover-color);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8:active {
    background-color: var(--headerbar-backdrop-pressed-color);
}

/* Maximize Button */
.platform-win .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n) {
    background-image: var(--max-icon);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: var(--icon-pos);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n) {
    background-color: var(--headerbar-bg-color);
    background-image: var(--max-icon);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: var(--icon-pos);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n):hover {
    background-color: var(--headerbar-backdrop-hover-color);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n):active {
    background-color: var(--headerbar-backdrop-pressed-color);
}


/* Minimize Button */
.platform-win .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n) {
    background-image: var(--min-icon);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: var(--icon-pos);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n) {
    background-color: var(--headerbar-bg-color);
    background-image: var(--min-icon);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: var(--icon-pos);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n):hover {
    background-color: var(--headerbar-backdrop-hover-color);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(n):active {
    background-color: var(--headerbar-backdrop-pressed-color);
}
